.container {
    text-align: center;
    width: 900px;
    margin: auto;
    height: 100vh;
    background: chocolate;
  }
  .main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main .header ul {
    display: flex;
  }
  .hf {
    height: 80px;
    background: burlywood;
  }