* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1000px;
  margin: auto;
  font-size: 1.5rem;
  /*  border: 2px solid yellowgreen; */
}
.main .container {
  position: relative;
}
.p-main-heading {
  display: flex;
  /* display: grid;
  grid-template-columns: 10% 10% 72%; */
  font-weight: bold;
}

.p1-hr-line {
  height: 2px;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 10px;
  background: lightgray;
}
.p-heading-list {
  position: relative;
  /* border: 2px solid rgb(1, 250, 113); */
  padding-bottom: 10px;
  list-style: none;
  z-index: 3;
  opacity: 0.7;
}
.p-heading-list:first-child {
  margin-right: 15px;
}
.p-heading-list:last-child {
  margin-left: auto;
}
.p-heading-list:hover {
  border-bottom: 3px solid red;
  color: red;
}
.radio-btn {
  position: absolute;
  top: 0px;
  left: 0px;

  z-index: 5;
  display: inline-block;
  opacity: 0;
}
.label-item {
  top: 0;
  left: 0;
  /* border: 2px solid black; */
  display: inline-block;
}
.radio-btn:checked + .label-item {
  color: red;
}
